<h2>Countries</h2>
<hr>

<ul class="list-group">
  <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="list-group-item">Home
    page </li>
  <li routerLinkActive="active" routerLink="about" class="list-group-item">About page </li>
  <li routerLinkActive="active" routerLink="contact" class="list-group-item">Contact page </li>
   -->
  <li routerLinkActive="active" routerLink="countries/by-capital" class="list-group-item">by capital</li>
  <li routerLinkActive="active" routerLink="countries/by-country" class="list-group-item">by country</li>
  <li routerLinkActive="active" routerLink="countries/by-region" class="list-group-item">by region</li>
</ul>
